
.teg{
	float: right;
	display: inline;
	margin: 1em 0.65em;
	
}

.frame{
	
	width: 100%;
	
	
}
body{
		font: 62.5% "Trebuchet MS", sans-serif;
		padding-top: 90px;
		margin: 0;
	}
	
	.button
	{
	width: 2em;
		height: 2em;
		border: 1px solid #cccccc;
		font-weight: normal;
		color: #ffffff;
		border-radius: 2px;
		background-color: #294977;
	}
	
	.frame1-centr{
		
		
		box-shadow: 0 0 10px rgba(0,0,0,0.5); 
		border-width: 1px;
		border-color: #e6e2e2;
		border-style: groove;
		padding: 20px;
		border-radius: 4px;
		
		
	}

	
	.person{
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
		border-width: 1px;
		border-color: #e6e2e2;
		border-style: groove;
		
		border-radius: 4px;
	min-height: 40px;
	padding: 10px;
	
		
	}
	
	.right{
		
		box-shadow: 0 0 10px rgba(0,0,0,0.5); 
		border-width: 1px;
		border-color: #e6e2e2;
		border-style: groove;
		border-radius: 4px;
		height: 550px;
		padding: 5px;
	}
	.frame3-right{
		width: 200px;
		height: 700px;
	}
	
	
	#information
	{
		
		height: 100px;
		border-width: 1px;
		border-color:#e6e2e2 ;
		border-radius: 4px;
		border-style:groove;
		margin: 2px;
		padding:2px;
	}
	
	
	
	
	#yandex_map
	{
		box-shadow: 0 0 10px rgba(0,0,0,0.5); 
		border-width: 1px;
		border-color: #e6e2e2;
		border-style: groove;
		border-radius: 4px;
		width: 700px;
		height: 550px;
	
	}
	#slider-box{
		width: 150px;
	}
	.circle-box{
		border-radius: 50%;
	}
	form img{
		height: 32px;
		width: 32px;
	}
	.img-box{
		height: 60px;
		width: 60px;
	}

	#other_information{
		overflow:auto;
		height:200px;
		cursor:pointer;
	}
	#metroList{
		width:200px;
		height:20px;	
	}

